body {
    background-image: url("../images/light_grey.png");
    
}

.container-fluid {}
/*Navigation Bar and Footer*/

.navbar {
    background-color: #4aaaa5;
    padding: 10px;
    color: white;
}

.navbar-brand {
    font-size: 36px;
    color: white;
    font-family: 'Bree Serif', serif;
}

.navbar-default,
.navbar-brand {
    color:white !important;
  
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

a:hover {
    color: gray;
    font-weight: bold;
}

.footer {
    text-align:center;
    margin-bottom:0;
    background-color: gray;
    padding: 30px 0px 30px 0px;
   }

.copyright {
    color: #dddddd;
    font-size: 12px;
}

/*MainBody formatting*/

.page-header {
    font-family: 'Bree Serif', serif
    ;}

.mainBody {
    margin-bottom:15px;
    background-color:#ffffff;
    /* background-image: url("../images/light_grey.png") */
    
}

.para1,
.para2 {
    font-family:'Bree Serif', serif;
}

/*Connect with Me formatting*/
.panel-body {    
    display: flex;
    justify-content: space-around;
}

.iconPictures {
    width:64px;
    height:64px;
}

.icon {
    display:flex;

}

.connectHead {
    font-family:'Bree Serif', serif;
    font-size:20;
    color:gray !important;
    text-align:center;
    font-weight:bold;
}
.github:hover {
    opacity:.75;
}

.linkedin:hover {
    opacity:.75;
}

.stack:hover {
    opacity:.75;
}

/*About Me Page*/

#profilePic {
    width:200px;
    height:200px;
    margin-right: 20px;
    margin-bottom: 15px;
}


/*Portfolio Page*/

.portfolioPics {
    width: 200px;
    height: 145px;
}

.projectHeaders {
    margin-top:0px;
    font-family: 'Bree Serif', serif;
    color:gray;
}

/*Contact Page*/
.submitButton {
    background-color:#4aaaa5;
}

.portfolioRows {
    margin-bottom:15px;
}

/**Max Width: `980px**/
@media screen and (max-width: 992px) {
    .connectBox {
        padding-left:0px;
        padding-right:0px;
    }
}

